<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Поиск рецептов</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container" style="align-items: center">
        <h1 class="title">Поиск рецептов по ингредиентам</h1>
        <a href="/views/recipes.ejs">Рецепты</a>
      </div>
    </header>

    <div class="main">
      <div class="container">
        <div class="column1">
          <div class="form">
            <button class="clearButton form-button" type="button" >
              Очистить
            </button>
            <form id="search-form">
              <% ingredients.forEach((ingredient) => { %>
              <input
                type="hidden"
                name="ingredients[]"
                value="<%= ingredient.id %>"
              />
              <% }); %>
              <button class="form-button" type="submit">Найти</button>
            </form>
          </div>

          <div>
            <% categories.forEach((category) => { %>
            <div class="category">
              <p class="category-name"><%= category.name %></p>
              <div class="divider"></div>
              <div class="wrapper">
                <% ingredients.forEach((ingredient) => { if
                (ingredient.category_id === category.id) { %>
                <div class="ingredient" data-id="<%= ingredient.id %>">
                  <%= ingredient.name %>
                </div>
                <% } %> <% }); %>
              </div>
            </div>
            <% }); %>
          </div>
        </div>

        <div class="column2">
          <h3 style="margin-top: 0;">Результаты поиска:</h3>
          <ul class="myList"></ul>
        </div>
      </div>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
