<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container" style="align-items: center">
        <h1 class="title">Поиск рецептов по ингредиентам</h1>
      </div>
    </header>

    <div class="main">
      <div class="container">
        <div class="column1">
          <div class="form">
            <form id="search-form">
              <% ingredients.forEach((ingredient) => { %>
              <input
                type="hidden"
                name="ingredients[]"
                value="<%= ingredient.id %>"
              />
              <% }); %>
              <button type="submit">Найти</button>
            </form>
            <button type="button" id="clearButton" style="margin-bottom: 20px">
              Очистить
            </button>
          </div>

          <div>
            <% const excludedIds = [44, 45, 46]; %> <%
            categories.forEach((category) => { %>
            <div class="category">
              <%= category.name %>
              <div class="wrapper">
                <% ingredients = ingredients.filter(ingredient =>
                !excludedIds.includes(ingredient.id))
                ingredients.forEach((ingredient) => { if (ingredient.category_id
                === category.id) { %>
                <div class="ingredient" data-id="<%= ingredient.id %>">
                  <%= ingredient.name %>
                </div>
                <% } %> <% }); %>
              </div>
            </div>
            <% }); %>
          </div>
        </div>

        <div class="column2">
          <h3>Результаты поиска:</h3>
          <ul id="myList"></ul>
        </div>
      </div>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
